


// :root {
	/* --color-a: #dc57af;
	--color-b: #a80f75; */

	/* 	--color-a: #fffff2; */
	// --color-a: #ffffff;
	// --color-a: #fdfbfb;
	// --color-b: #f9f9f9;
	// --color-b: #f9f1f1;
	// --color-b: #fdf9f9;
	// --square-size: 10rem;
// }



// https://sass-lang.com/documentation/at-rules/mixin
// https://sass-lang.com/documentation/interpolation

// Checkerboard mixin
// Params: square size, color a, color b.
@mixin checkerboard-bg($square-size: 20rem, $color-a: #ffffff, $color-b: #ffffff) {
	height: 100%;
	width: 100%;
	background: conic-gradient(var($color-a) 90deg,
			var($color-b) 90deg 180deg,
			var($color-a) 180deg 270deg,
			var($color-b) 270deg);
	background-size: $square-size $square-size;
}